<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="auth-container">
        <h1>CineApp</h1>
        <h2>Iniciar sesión</h2>

        {% if flash %}
<div class="flash {{ flash.category }}">
    {{ flash.message }}
</div>
{% endif %}

        <form action="/login" method="post">
            <input type="text" name="identifier" placeholder="Usuario o Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
        </form>

        <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
    </div>
</body>
</html>
