{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="page-wrapper auth-box">
    <h2>Iniciar sesión</h2>

    <form action="/login" method="post" class="auth-form">
        <input type="text" name="identifier" placeholder="Usuario o Email" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="btn-primary">Entrar</button>
    </form>

    <p style="margin-top: 20px;">
        ¿No tienes cuenta?
        <a href="/register">Regístrate</a>
    </p>
</div>
{% endblock %}
