{% extends "base.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="page-wrapper auth-box">
    <h2>Registro de usuario</h2>

    <form action="/register" method="post" class="auth-form">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="btn-primary">Registrar</button>
    </form>

    <p style="margin-top: 20px;">
        ¿Ya tienes cuenta?
        <a href="/login">Inicia sesión</a>
    </p>
</div>
{% endblock %}
